.breadcrumb {
  background-color: #fff !important;
}

.breadcrumb__link {
  font-size: 10px;
  line-height: 15px;
  color: #a9a9a9;
}

.breadcrumb__link:hover {
  text-decoration: none;
}

.products__link {
  white-space: nowrap;
}

.products__link::after {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-arrow-green-right.svg");
  background-repeat: no-repeat;
}

.price {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #6A983C;
  white-space: nowrap;
}

.price__sale {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration: line-through;
}

.btn-sm {
  white-space: nowrap;
}

.btn__hearth {
  display: block;
  background-image: url("../img/ic-actions-heart.svg");
  background-repeat: no-repeat;
  background-position: left center;
  white-space: nowrap;
}

.btn__layout {
  display: block;
  background-image: url("../img/ic-layout-picture-right.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.nav {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.img-fluid {
  object-fit: cover;
}

@media only screen and (min-width: 560px) {
  .breadcrumb__link {
    font-size: 12px;
    line-height: 17px;
  }

  .product__title {
    font-size: 16px;
    line-height: 25px;
  }

  .price {
    font-size: 22px;
    line-height: 30px;
  }
}
